@model FlatManagement.Data.Tasking.FlatTask

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FlatTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsProgressive" /> @Html.DisplayNameFor(model => model.IsProgressive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatId" class="control-label"></label>
                <select asp-for="FlatId" class ="form-control" asp-items="ViewBag.FlatId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FlatUserId" class="control-label"></label>
                <input asp-for="FlatUserId" class="form-control" />
                <span asp-validation-for="FlatUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

