@model FlatManagement.Data.Tasking.FlatTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlatTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProgressive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProgressive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flat.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlatUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlatUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlatTaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
