@model FlatManagement.Data.Tasking.FlatTask

@{
    ViewData["Title"] = "Update task";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlatTaskId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" type="date"/>
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlatUserId" class="control-label">Owner</label>
                @Html.DropDownListFor(model => model.FlatUserId, new SelectList(ViewBag.Flatmates, "Id", "Name", Model.FlatUserId), new { @class = "form-control"})
                <span asp-validation-for="FlatUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label"></label>
                @if(Model.IsProgressive) {
                    <input asp-for="Progress" class="form-control" type="range" min="0" max="100" step="10"/>
                } else {
                    <select asp-for="Progress" class="form-control" type="number" min="0" max="100">
                        <option value="-1">TODO</option>
                        <option value="-2">DOING</option>
                        <option value="-3">DONE</option>
                    </select>
                }
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Change type" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("ChangeType", "FlatTask", new { id = Model.FlatTaskId })'" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

