@model IEnumerable<FlatManagement.Data.Tasking.FlatTask>

@{
    ViewData["Title"] = "Tasks";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="material-icons">add_circle_outline</i> Add task</a>
</p>

<div class="accordion" id="accordionExample">
@foreach (var item in Model) {

    var id = item.FlatTaskId;
    var collapseName = ("collapse" + id);
    var dataTarget = ("#" + collapseName);
    var progress = "";
    switch(item.Progress) {
        case -1:
            progress = "TODO";
            break;
        case -2:
            progress = "DOING";
            break;
        case -3:
            progress = "DONE";
            break;
        default:
            progress = (item.Progress + "%");
            break;
    }
    bool isProgressive = item.IsProgressive;

  <div class="card">
    <div class="card-header">
      <h2 class="mb-0" style="display: inline">
        <button class="btn collapsed" type="button" data-toggle="collapse" 
            data-target=@dataTarget
            aria-expanded="true" aria-controls=@collapseName>
            @Html.DisplayFor(modelItem => item.Name)
        </button>
      </h2>
      <div class="float-right">
            @if(ViewBag.currentUserId == item.FlatUserId) {
                <span class="badge badge-primary">OWNER</span>
            }
            <span class="badge badge-secondary">@progress</span>
      </div>
    </div>
    <div id=@collapseName class="collapse" aria-labelledby=@collapseName data-parent="#accordionExample">
      <div class="card-body">
        @Html.DisplayFor(modelItem => item.Description)
        <hr>
        <div class="container">
        <div class="row">
            <div class="col">
            <small class="form-text text-muted">
                <i class="material-icons">person</i> @Html.DisplayFor(modelItem => item.FlatUser.Name)
                <i class="material-icons">timer</i> @item.Deadline.ToString("dd/MM/yyyy")
            </small>
            </div>
            <div class="col-md-auto">
                <a asp-action="MarkAsDone" asp-route-id="@id">
                    <button type="button" class="btn btn-success btn-sm"><i class="material-icons">done</i></button>
                </a>
                <a asp-action="Edit" asp-route-id="@id">
                    <button type="button" class="btn btn-info btn-sm"><i class="material-icons">edit</i></button>
                </a>
                <a asp-action="Delete" asp-route-id="@id">
                    <button type="button" class="btn btn-danger btn-sm"><i class="material-icons">delete</i></button>
                </a>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
}
</div>
<!-- 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProgressive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlatUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProgressive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flat.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FlatTaskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FlatTaskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FlatTaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
